<div>
  <p>This is the dices directive</p>

  <div
      ng-repeat="dice in dicesArray"
      ng-click="selectDice($index)"
      class="btn btn-danger"
      ng-class="{active: dice.selected}"
      ng-show="dice.number">{{dice.number}}
  </div>

  <div class="btn btn-primary" ng-click="getDices()" ng-show="showRollButton()">ROLL</div>
  <div class="btn btn-primary" ng-click="newGame()"  ng-show="showNewGameButton()">New game</div>

  <div>
      <span ng-repeat="dice in selectedDices track by $index">{{dice}}</span>
      <span>asa</span>

  </div>
</div>