<div class="container">
    <h2>WELCOME</h2>

  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a ng-href="#/challengeFriend" ng-click="setPlayType(1)">Challenge friend!</a></li>
    <li class="active"><a ng-href="#/quickGame" ng-click="setPlayType(2)">Quick game</a></li>
    <li class="active"><a ng-href="#/singleGameBuilder" ng-click="setPlayType(3)">Single player</a></li>
    <li class="active"><a ng-href="#/highScore">High Score</a></li>
    <li class="active"><a ng-href="#/about">About</a></li>
    <!--<li class="active"><a ng-href="#/chooseGame">Choose Game</a></li>-->
    <!--<li class="active"><a ng-href="#/highScore">High Score</a></li>-->
    <!--<li class="active"><a ng-href="#/about">About</a></li>-->
  </ul>




</div>